@{ 
    ViewBag.Title = "Cosmo";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cosmo</title>
</head>

<h1>¿Hay vida en otros planetas? - Sistemas Solares</h1>

<body>
    <img src="~/Content/Image/expansion-hubble.jpg" />
    <p>
        Y, ¿Hay vida en otros planetas? Hasta ahora, se han encontrado unos 445 sistemas solares y se descubren nuevos sistemas cada año. Dada la cantidad que se
        ha <br /> descubierto en este rincón de la Vía Láctea, los científicos estiman que puede haber miles de millones de sistemas solares en nuestra galaxia.<br /><br />

        EDWIN HUBBLE Demostró la existencia de grandes sistemas de estrellas o galaxias, muy alejadas de la Vía Láctea. Es conocido por la clasificación que hizo de <br />
        los sistemas extragalácticos. Sus últimos descubrimientos, relacionados con los movimientos y distancias galácticas, han ayudado a verificar la teoría de la <br /> expansión del Universo. <br /><br />


        HIPARCO Es el astronomo más grande de la antiguedad, quien comparo sus observaciones con los registros astronomicos que hasta su momento estaban <br /> disponibles.
        Determinó en forma muy precisa la posición para cada dia del año. Efectuó observaciones para determinar el periodo de las rotaciones efectuada por <br /> los planetas.
        Usando el metodo de Aristarco determinó con mayor presición el tamaño de la luna y el sol, al igual que sus distancias respecto a la tierra.
        Junto con <br /> Tolomeo planteó una serie de círculos excéntricos, con la tierra cerca de un centro comun, donde el sol, la Luna y los Planetas giraban
        alrededor de un segundo <br /> círculo.


    </p>

</body>
</html>
